 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  width: 95%;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 60px;
  margin: 0;
}
p {
  font-size: 24px;
  color: #cbd5e1;
}
button {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  background: #38bdf8;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}
.about {
  padding: 100px 50px;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.skills span {
  background: #38bdf8;
  padding: 10px 20px;
  border-radius: 20px;
}
.projects {
  padding: 100px 50px;
  text-align: center;
}

.project-card {
  background: white;
  color: black;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 12px;
}
.contact {
  padding: 100px 50px;
  text-align: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
}